#fundo{
    background: url(imagem/ods.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% ;
    width: 100%;
    height: 70%%;
    text-align: center;
    margin: 0%;
    border: solid black
}

.metade{
    text-justify: ;
    text-align: center;
    border: black;
    width: 48%;
    height: 49%;
    float: left;
    margin: 1%;    
    padding-bottom: 1%;
}
html{ background-color: darkturquoise;
    margin: 0%;
    border: 0%;
    padding: 0%;
}

.terco{
    margin: 0%;
    width: 32%;
    height: 35%;
    border: solid black;
    float: left;
    text-align: center;
}
#industria{
    background-color: gold;
}
#infraestrutura{
    background-color: limegreen;
}
#inovacao{
    background-color: red;
}
.cabeca{
    float: left;
}
#home{
    width: 10%;
    height: 100%;
}
#home2{
    padding-bottom: 2%%;
    padding-top: 0%;
    padding-right: 0%;
    color: black;
    float: right;
    border: black;
}
#homet{
    margin: 0%;
    border: solid black;
    background: white;
    height: 15%;
    width: 100%;
    padding-top: 0%;
}
#home3{
    height: 100%;
    border: black;
}
#titulo{
    border:  black;
    width: 60%;
    text-align: left;
}
section{margin: 3%;}
#video{
    margin: 1%;
}
